.DS_Store
**/.DS_Store
.split-env
__pycache__/
datasets
TGB_Variables/heloc
TGB_Variables/leukemia
TGB_Variables/creditcard_fraud
TGB_Variables/creditcard_fraud_smote
TGB_Variables/diabetes
TGB_Variables/diabetes_smote
